.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: darkblue;
  justify-content: flex-start;
}

.nav-bar-element {
  width: 200px;
  color: white;
  text-align: center;
  align-self: center;
}